<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Contacto</title>
  </head>
  <body>
    <h1 class="display-3 text-center">
      <%= users.name + " " + users.surname %>
    </h1>
    <form class="form" action="/edit?_method=PUT" method="post">
      <label class="editName" for="name">Nombre</label>
      <input
        type="text"
        placeholder="<%= users.name %>"
        value="<%= users.name %>"
        name="name"
        required
      />
      <label class="editSurname" for="surname" class="surname">Apellidos</label>
      <input
        type="text"
        placeholder="<%= users.surname %>"
        value="<%= users.surname %>"
        name="surname"
        required
      />
      <label class="editPhone" for="phone">Teléfono</label>
      <input
        type="tel"
        pattern="[0-9]{9}"
        placeholder="<%= users.phone %>"
        name="phone"
        value="<%= users.phone %>"
        required
      />
      <label class="editEmail" for="email">Mail</label>
      <input
        type="email"
        placeholder="<%= users.email %>"
        value="<%= users.email %>"
        name="email"
      />
      <button type="submit" value="<%= users._id %>" name="id">
        Modificar
      </button>
    </form>
    <form action="/" method="get">
      <button type="submit">Volver</button>
    </form>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
