<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ContactsApp</title>
    <link href="/public/styles.css" rel="stylesheet" type="text/css" />
    <script src="/public/scripts.js"></script>
  </head>

  <body>
    <h1>Agenda de Contactos</h1>

    <form action="/users" method="POST">
      <input type="text" required placeholder="Nombre" name="name" />
      <input type="text" required placeholder="Apellidos" name="surname" />
      <input
        type="tel"
        pattern="[0-9]{9}"
        required
        placeholder="666333222"
        name="phone"
      />
      <input type="email" placeholder="ortiga@amancio.com" name="email" />

      <button type="submit">Añadir Contacto</button>
    </form>

    <% for(var i = 0; i < users.length; i++) {%>
    <div class="card" id="">
      <div class="name"><%= users[i].name %></div>
      <div class="surname"><%= users[i].surname %></div>
      <div class="phone"><%= users[i].phone %></div>
      <div class="email"><%= users[i].email %></div>
      <form action="/delete" method="POST">
        <button type="submit" value="<%= users[i]._id %>" name="id">
          Borrar
        </button>
      </form>
    </div>
    <% } %>
  </body>
</html>
